<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>
    <tx:annotation-driven/>
    <context:component-scan base-package="com.xxxxxbbs.service"/>

    <bean id="guoduMessageSender" class="com.xxxxxbbs.service.sms.impl.GuoduMessageSender">
        <property name="username" value="ceshi4"/>
        <property name="password" value="0326cs"/>
        <property name="appendId" value=""/>
        <property name="contentType" value="8"/>
        <property name="sendTime" value=""/>
        <property name="validTime" value=""/>
        <property name="url" value="http://221.179.180.158:9007/QxtSms/QxtFirewall"/>
    </bean>
    <bean id="codeGenerator" class="com.xxxxxbbs.service.sms.impl.DefaultCodeGenerator"/>

    <bean id="passwordHelper" class="com.xxxxxbbs.service.shiro.PasswordHelper"/>

    <bean id="smsService" class="com.xxxxxbbs.service.impl.SmsServiceImpl">
        <property name="placeholder" value="亲爱的会员你好，你的验证码是{0}"/>
        <property name="codeGenerator" ref="codeGenerator"/>
        <property name="messageSenders">
            <list>
                <ref bean="guoduMessageSender"/>
            </list>
        </property>
    </bean>
</beans>