@charset "utf-8";
/*选题/兴趣通用样式=============================*/
.selected_topic_main .help {
    padding-left: 25px;
    margin: 20px 0px 20px 15px;
    float: left;
    background: url(../images/help_ico.png) no-repeat 0px 5px;
    line-height: 25px;
    color: #666;
    font-size: 12px;
}

.selected_topic, .interest_topic {
    border: 1px solid #ededed;
    border-top: 1px solid #2175d0;
    margin-bottom: 10px;
    height: auto;
    overflow: auto
}

.selected_topic h2 {
    margin: 0px;
    padding: 10px;
    height: auto;
    overflow: auto;
    border-bottom: 1px solid #ededed;
}

.selected_topic h2 a {
    font-size: 12px;
    font-weight: normal;
    float: right;
    margin-top: 8px;
}

.selected_topic h2 a:visited {
    color: #2175d0
}

.selected_topic ul, .interest_topic ul {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: auto;
    overflow: auto;
}

.selected_topic ul li, .interest_topic ul li {
    float: left;
    width: 230px;
    height: 230px;
    margin-left: 9px;
    overflow: hidden;
}

.selected_topic ul li .select_pic_box, .interest_topic ul li .interest_pic_box {
    width: 228px;
    height: 152px;
    border: 1px solid #dbdbdb;
    background: url(../images/no-pic.png) no-repeat;
    overflow: hidden
}

.selected_topic ul li h5, .interest_topic ul li h5 {
    color: #666;
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}

.selected_topic ul li a, .interest_topic ul li a {
    display: block;
}

.selected_topic ul li .pub_user, .interest_topic ul li .pub_user {
    color: #999;
    font-size: 12px;
}

.selected_topic ul li .click_rate, .interest_topic ul li .click_rate {
    font-size: 12px;
    line-height: 24px;
    color: #666;
}

.selected_topic ul li .click_rate span,
.interest_topic ul li .click_rate span {
    color: #2175d0;
}

.interest_topic .essence {
    width: 52px;
    height: 24px;
    background: url(../images/essence.png);
    position: absolute;
    z-index: 10002;
    margin-left: 180px;
    margin-top: 10px;
}

.interest_topic h3 {
    font-size: 20px;
    font-weight: normal;
    color: #666;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ededed
}

.interest_topic h3 .bigclass {
    color: #666;
    font-size: 14px;
}

.interest_topic h3 .more {
    float: right;
    font-size: 12px;
    color: #2571d0;
    margin-top: 5px;
}

.interest_topic h2 {
    border-bottom: 1px solid #ededed;
    margin: 0;
    padding: 10px;
}

.interest_topic dl {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 182px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 28px;
}

.interest_topic dl a {
    color: #2175d0
}

.interest_topic dt {
    font-size: 14px;
    font-weight: bold;
    background: #eaedf0;
    color: #2175d0;
}

.interest_topic dd {
    margin: 0;
    font-size: 12px;
    color: #666;
    border-bottom: 1px dashed #eaedf0
}
